@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'IBM-PlexMono';
	src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NewSpirit-MediumCondensed';
	src: url('/fonts/NewSpirit-MediumCondensed.ttf') format('truetype');
	font-weight: normal;
	font-style: condensed;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--red-heading: rgb(209, 63, 63);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

body {
	color: rgb(var(--foreground-rgb));
	background: white;
	h1,
	h2 {
		font-family: 'NewSpirit-MediumCondensed';
	}

	p {
		font-family: 'IBM-PlexMono';
	}

	h2 {
		color: var(--red-heading);
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

header {
	transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 0.9);
}

/* HOME MOVIES CONTENT */

.image-container {
	position: relative;
	z-index: 20;
	transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1), z-index 0.3s;
}

.image-container:hover {
	z-index: 30;
}

.image-container:hover ~ .image-container {
	z-index: 10;
}
